@font-face {
  font-display: swap;
  font-family: "Play";
  font-weight: 700;
  src: url("../fonts/play-v19-latin-700.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-weight: 400;
  src: url("../fonts/roboto-v47-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-weight: 600;
  src: url("../fonts/roboto-v47-latin-600.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-weight: 700;
  src: url("../fonts/roboto-v47-latin-700.woff2") format("woff2");
}
:root {
  --text-color: #011c44;
  --second-color: #2a7fff;
  --white-color: #ffffff;
}
/*Base*/
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

body {
  color: var(--text-color);
  font-family: "roboto", san-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.171;
}
h1,
h2 {
  font-family: "play", sans-serif;
}
/*Button*/
.button {
  color: var(--white-color);
  font-weight: 600;
  background-color: var(--second-color);
  border-radius: 32px;
  border: 2px solid var(--second-color);
  cursor: pointer;
}
.button:hover {
  background-color: transparent;
  color: var(--text-color);
}
/*navigation*/
.nav-link {
  color: var(--text-color);
  text-decoration: none;
}
.nav-link:hover {
  color: var(--second-color);
  font-size: 18px;
  font-weight: 700;
}
/*main section*/
.main-title {
  text-transform: capitalize;
  font-size: 140px;
  color: var(--second-color);
  line-height: 0.814;
}
.main-reserve {
  font-size: 12px;
  line-height: 1.5;
}
/*section title*/
.section-title {
  font-size: 64px;
  line-height: 1.157;
}
.section-title .accent {
  color: var(--second-color);
}
.section-title .accent-beauty {
  color: var(--second-color);
  text-transform: capitalize;
}
span.present {
  color: var(--second-color);
}
.section-title .bold {
  font-weight: bold;
}
.section-about {
  font-size: 22px;
  line-height: 1.727;
  font-weight: 600;
}
.images {
  line-height: 1.333;
}
.procedury {
  font-size: 22px;
  line-height: 1.181;
}
/*footer*/
.footer {
  font-size: 16px;
  line-height: 1.171;
}
.footer .data {
  font-size: 13px;
}
